.breadcrumbs-box {
  background: map-get($colors, 'blue');
  padding: 9px 0;
  color: map-get($colors, 'white');
  text-transform: uppercase;
  font-size: 10px;
  ul {
    @extend %clearfix;
    @extend %listreset;
    li {
      float: left;
      &:before {
        content: '•';
        display: inline-block;
        margin: 0 7px 0 5px;
      }
      &:first-child {
        &:before {
          display: none;
        }
      }
    }
    a {
      color: map-get($colors, 'white');
      &:hover {
        text-decoration: underline;
      }
    }
  }
}