.btn {
  border-radius: 60px;
  border: 2px solid map-get($colors, 'blue');
  font-size: 12px;
  line-height: 1.2;
  padding: 7px 19px;
  background: map-get($colors, 'blue');
  color: map-get($colors, 'white');
  font-weight: normal;
  @include media('<full-widescreen') {
    padding: 7px 11px;
  }
  .icon {
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin: 0 0 0 7px;
  }
  &:hover {
    background: map-get($colors, 'white');
    color: map-get($colors, 'blue');
  }
  &.bg-white {
    background: map-get($colors, 'white');
    color: map-get($colors, 'blue');
    .icon {
      margin: 0 0 0 27px;
      @include media('<full-widescreen') {
        margin: 0 0 0 7px;
      }
    }
    &:hover {
      background: map-get($colors, 'blue');
      color: map-get($colors, 'white');
    }
  }
}