.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.info-box {
  font-family: map-get($base, 'base-font-serif');
  overflow: hidden;
  margin: 0 0 17px;
  h2,
  h1 {
    font-family: map-get($base, 'base-font-sans-serif');
  }
}