.contact-form {
  .box {
    margin: 0 0 40px;
    @include media('<tablet') {
      margin: 0 0 10px;
    }
  }
  .label {
    color: map-get($colors, 'blue');
    text-transform: uppercase;
    white-space: normal;
    font-weight: normal;
    text-align: left;
    padding: 0;
    font-size: 15px;
    line-height: 1.3;
  }
  .row-input {
    margin: 0 0 18px;
    position: relative;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      .label {
        width: 108px;
        padding: 0 8px 0 0;
      }
      .frame {
        flex: 1;
        position: relative;
      }
    }
  }
  select {
    width: 100%;
  }
  textarea,
  input[type="text"],
  input[type="email"] {
    display: block;
    width: 100%;
    padding: 0 10px;
    margin: 0;
    height: 52px;
    line-height: 52px;
    border: 2px solid map-get($colors, 'blue');
    color: map-get($colors, 'blue');
    font-weight: normal;
    &.parsley-error {
      border-color: red;
    }
    @include media('<tablet') {
      border-width: 1px;
      height: 40px;
      line-height: 40px;
    }
  }
  textarea {
    height: auto;
    min-height: 396px;
    line-height: 1.3;
    padding-top: 8px;
    padding-bottom: 8px;
    resize: none;
    @include media('<tablet') {
      min-height: 100px;
    }
  }
  .row-textarea {
    position: relative;
    label {
      display: block;
    }
    .label {
      display: block;
      margin: 0 0 16px;
    }
    label {
      display: block;
      position: relative;
    }
  }
  .coutn-text-letter {
    text-align: right;
    color: map-get($colors, 'blue');
    text-transform: uppercase;
    display: block;
    font-weight: normal;
    margin: 6px 0 0;
  }
  .parsley-errors-list {
    display: none;
  }
  .parsley-errors-list.filled {
    display: block;
    @extend %listreset;
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 1%;
    margin-top: -1;
    background: #fff;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 12px;
    line-height: 1.4;
    border: 1px solid red;
    box-shadow: 0 0 8px rgba(255,0,0,.9);
    color: red;
    &:before {
      content: "";
      position: absolute;
      left: 20%;
      top: -16px;
      width: 0;
      height: 0;
      border: 8px solid;
      border-color: transparent transparent #fff;
    }
  }
}
.jcf-select {
  display: block;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  margin: 0;
  text-align: left;
  width: 100%;
  background: rgba(255, 255, 255, .05);
  cursor: default;
  .jcf-select-text {
    display: block;
    font-weight: normal;
    border: 2px solid map-get($colors, 'blue');
    height: 52px;
    padding: 0 40px 0 10px;
    color: map-get($colors, 'blue');
    line-height: 52px;
    @include media('<tablet') {
      border-width: 1px;
      line-height: 40px;
      height: 40px;
    }
  }
  .jcf-select-opener {
    position: absolute;
    text-align: center;
    width: 31px;
    bottom: 0;
    right: 0;
    top: 0;
    &:before {
      content: "\e900";
      position: absolute;
      top: 50%;
      margin-top: -6px;
      left: 0;
      font-size: 12px;
      color: map-get($colors, 'blue');
      font-weight: bold;
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}
.jcf-select select {
  z-index: 1;
  left: 0;
  top: 0;
}
.row-btn {
  text-align: center;
  .contact-form {
    font-size: 14px;
    text-transform: uppercase;
    height: 52px;
    width: 140px;
    border-radius: 52px;
    background: map-get($colors, 'blue');
    border: 2px solid map-get($colors, 'blue');
    text-align: center;
    color: map-get($colors, 'white');
    @include media('<tablet') {
      height: 40px;
    }
    .icon {
      font-size: 12px;
      margin: 0 0 0 9px ;
    }
    &:hover {
      color: map-get($colors, 'blue');
      background: map-get($colors, 'white');
    }
  }
}
.jcf-select select.parsley-error {
  & + ul + .jcf-select-text {
    border-color: red;
  }
}