@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?sdu8vn');
  src:  url('../fonts/icomoon/icomoon.eot?sdu8vn#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?sdu8vn') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?sdu8vn') format('woff'),
  url('../fonts/icomoon/icomoon.svg?sdu8vn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new-email-outline:before {
  content: "\e907";
}
.icon-expand-button:before {
  content: "\e900";
}
.icon-open-book:before {
  content: "\e901";
}
.icon-play-symbol:before {
  content: "\e902";
}
.icon-right-arrow:before {
  content: "\e903";
}
.icon-search-tool:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-youtube2:before {
  content: "\ea9d";
}