//== Colors
$white:														#fff;
$black:														#000;
$gray:														#757575;
$bray-light:												#f5f3f1;
$blue:														#046dc2;

//== Typography
$font-family-sans-serif:									Helvetica, Arial, sans-serif;
$font-family-base:    										$font-family-sans-serif;
$base-font-serif:    										'Times New Roman', Times, Baskerville, Georgia, serif;
$font-size-base:											16px;
$font-size-h1:     											32px;
$font-size-h2:            									20px;
$font-size-h3:           									18px;
$font-size-h4:          									24px;
$font-size-h5:          									20px;
$font-size-h6:  											14px;
$line-height-base:											1.9;

//== Buttons
$btn-font-weight:  											700;
$btn-default-color:											$white;
$btn-default-bg:											transparent;
$btn-default-border: 										transparent;

//== Forms
$input-color:   											$blue;
$input-color-placeholder:									$blue;

//== Grid system
$screen-lg:                  								1300px;
$screen-lg-min:              								$screen-lg;
$screen-lg-desktop:          								$screen-lg-min;
$container-large-desktop:									1240px;
$container-lg:  											$container-large-desktop;
$grid-gutter-width:                                         40px;

//== Navbar
$navbar-padding-horizontal:        							20px;
$navbar-padding-vertical: 									25px;
$navbar-height: 											62px;
$navbar-margin-bottom:										0;
$navbar-border-radius:  									0;
$grid-float-breakpoint:										992px;
$grid-float-breakpoint-max:  								991px;