// Typography
//
// Base font styles for headings and links.

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: map-deep-get($headings, 'fonts', 'headings-font-family');
  font-weight: bold;
  margin: 0 0 0.5em;
  color: map-deep-get($headings, 'fonts', 'headings-color');
  text-transform: uppercase;
}

h1, .h1 {
  font-size: map-deep-get($headings, 'sizes', 'h1-font-size');
  color: map-get($colors, 'blue');
  margin: 0 0 16px;
}

h2, .h2 {
  font-size: map-deep-get($headings, 'sizes', 'h2-font-size');
  margin: 0 0 16px;
  color: #3a3a3a;
}

h3, .h3 {
  font-size: map-deep-get($headings, 'sizes', 'h3-font-size');
}

h4, .h4 {
  font-size: map-deep-get($headings, 'sizes', 'h4-font-size');
}

h5, .h5 {
  font-size: map-deep-get($headings, 'sizes', 'h5-font-size');
}

h6, .h6 {
  font-size: map-deep-get($headings, 'sizes', 'h6-font-size');
}

p {
  margin: 0 0 21px;
}

a {
  color: map-get($base, 'base-link-color');
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
    color: map-get($base, 'base-text-color');
  }
}