// Global variables
//
// Base font styles for headings and links.

// For headers
$headings: (
  'sizes': (
    'h1-font-size': 30px,
    'h2-font-size': 22px,
    'h3-font-size': 20px,
    'h4-font-size': 19px,
    'h5-font-size': 17px,
    'h6-font-size': 15px
  ),
  'fonts': (
    'headings-font-family': inherit,
    'headings-color': inherit
  )
);

// Global vars for body typography
$base: (
  'base-font-sans-serif': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-font-serif': unquote("'Times New Roman', Times, Baskerville, Georgia, serif"),
  'base-text-color': #757575,
  'base-background-color': #f8f7f5,
  'base-link-color':#046dc2,
  'base-font-size': 16px,
  'base-line-height': 1.2,
  'base-font-family': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'vertical-rhythm': '(map-get($base, base-line-height) * 1em)',
  'base-min-width': 320px
);

// Vars for forms
$forms: (
  'form-element-padding': unquote("0.4em 0.7em"),
  'form-element-border-color': #999,
  'form-element-focus-border-color': #000,
  'placeholder-color': #999
);

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 992px,
  'widescreen': 1200px,
  'full-widescreen': 1300px
);

/*body {

  @include media('<full-widescreen') {
    border: 5px solid red;
  }
  @include media('<widescreen') {
    border: 5px solid red;
  }
  @include media('<desktop') {}
  @include media('<tablet') {}

  @include media('<phone') {}
  @include media('>desktop') {

}*/

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// Vars for forms
$colors: (
  'white': #fff,
  'black': #000,
  'blue': #046dc2,
  'gray': #757575
);