#header {
  position: relative;
  background: map-get($colors, "white");
  text-transform: uppercase;
  font-size: 14px;
  .container {
    padding-top: 55px;
    padding-bottom: 53px;
    @include media('<desktop') {
      padding-top: 80px;
      padding-bottom: 0;
      position: relative;
    }
  }
  .logo {
    position: absolute;
    top: 21px;
    left: 50%;
    width: 134px;
    transform: translate(-50%, 0);
    @include media('<desktop') {
      transform: translate(0, 0);
      width: 50px;
      left: 20px;
      top: 5px
    }
    img {
      display: block;
      width: 100% !important;
      height: auto !important;
    }
  }
  .row-contact {
    @extend %clearfix;
    padding: 0 0 32px;
    @include media('<desktop') {
      text-align: center;
      padding: 0 0 10px;
    }
    .title {
      float: left;
    }
    .alignright {
      @extend %clearfix;
      @include media('<tablet') {
        text-align: center;
        float: none;
        display: block;
      }
    }
    .alignleft {
      @include media('<tablet') {
        float: none;
        display: inline-block;
        margin: 0 0 10px;
      }
    }
  }
  .social-network {
    @extend %listreset;
    float: left;
    margin: 0 0 0 26px;
    font-size: 18px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 25px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .language-box {
    float: left;
    font-weight: bold;
    font-size: 15px;
    margin: -2px 0 0;
    @include media('<tablet') {
      float: none;
      display: inline-block;
      vertical-align: middle;
    }
    .icon {
      font-size: 10px;
      display: inline-block;
      vertical-align: middle;
      [class^="icon-"], [class*=" icon-"] {
        font-weight: bold;
      }
    }
    a {
      float: left;
      border-bottom: 2px solid map-get($colors, 'blue');
      &:hover {
        border-bottom-color: map-get($colors, 'gray');
      }
    }
  }
  .login-list {
    float: left;
    @extend %listreset;
    margin: -3px 0 0 32px;
    @include media('<desktop') {
      float: none;
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
    }
    li {
      float: left;
      margin: 0 0 0 23px;
      &:first-child {
        margin: 0;
      }
    }
    .icon {
      display: inline-block;
      margin: 0 0 0 6px;
      vertical-align: middle;
      font-size: 20px;
      position: relative;
      [class^="icon-"], [class*=" icon-"] {
        font-weight: bold;
      }
    }
  }
  &.active {
    .header-nav {
      @include media('<desktop') {
        right: 0;
      }
    }
  }
}
.header-nav {
  @extend %clearfix;
  @include media('<desktop') {
    position: fixed;
    top: 0;
    right: -100%;
    background: rgba(0, 0, 0, 0.9);
    width: 300px;
    padding: 30px 15px 15px;
    text-align: center;
    @include animate(right);
  }
  .nav {
    float: left;
    @include media('<desktop') {
      float: none;
    }
    li {
      float: left;
      margin: 0 0 0 35px;
      @include media('<full-widescreen') {
        margin: 0 0 0 10px;
      }
      @include media('<desktop') {
        float: none;
        margin: 0 0 15px;
      }
      &:first-child {
        margin: 0;
        @include media('<desktop') {
          margin: 0 0 15px;
        }
      }
    }
    > li {
      > a {
        padding: 0;
        color: map-get($colors, 'gray');
        @include media('<desktop') {
          color: map-get($colors, 'white');
        }
        &:hover {
          background: none;
          color: map-get($colors, 'blue');
          strong {
            text-decoration: underline;
          }
        }
      }
      &.active {
        > a {
          color: map-get($colors, 'blue');
          strong {
            text-decoration: underline;
          }
        }
      }
    }
    strong {
      display: block;
    }
  }
  .btn {
    margin: 0 0 0 25px;
    float: left;
    @include media('<full-widescreen') {
      margin-left: 10px;
    }
    @include media('<desktop') {
      float: none;
      display: inline-block;
      margin: 0 0 10px;
    }
  }
  .search-btn {
    font-size: 19px;
    margin: 6px 0 0 30px;
    float: left;
    @include media('<full-widescreen') {
      margin-left: 10px;
    }
    @include media('<desktop') {
      float: none;
      display: block;
      margin: 0;
    }
    a {
      @include media('<desktop') {
        color: map-get($colors, 'white');
      }
    }
    [class^="icon-"], [class*=" icon-"] {
      font-weight: bold;
    }
  }
  .alignleft {
    @include media('<desktop') {
      float: none;
    }

  }
  .close {
    display: none;
    @include media('<desktop') {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      color: map-get($colors, 'white');
      z-index: 2;
      opacity: 1;
    }
  }
}

/* burger menu style */
.opener{
  position: absolute;
  width:31px;
  height:31px;
  background:#000;
  background: map-get($colors, 'blue');
  top: 10px;
  right: 20px;
  border-radius:3px;
  text-indent:-9999px;
  overflow:hidden;
  display: none;
  @include media('<desktop') {
    display: block;
  }
}
.opener:before,
.opener:after,
.opener span{
  background:#fff;
  border-radius:4px;
  position:absolute;
  top:16px;
  left:25%;
  right:25%;
  height:3px;
  margin-top:-2px; /* height/2 */
  transition:all 0.2s linear;
}
.opener:before,
.opener:after{
  content:'';
  top:10px;
}
.opener:after{top:22px;}

.active .opener span{opacity:0;}
.active .opener:after,
.active .opener:before{
  transform:rotate(45deg);
  top:16px;
  left:15%;
  right:15%;
}
.active .opener:after{
  transform:rotate(-45deg);
}