#wrapper {
  overflow: hidden;
}
#main {
  padding: 40px 0 30px;
  @include media('<tablet') {
    padding: 10px 0;
  }
}
.main-frame {
  background: map-get($colors, 'white');
  padding: 35px 40px 30px;
  @include media('<tablet') {
    padding: 10px;
  }
}